

html {
    background-color: #97d4fb;
 /*   background: url(/images/on_a_fence_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 2px auto 0 auto;
    width: 350px;
    font-size: 18px;
    font-weight: 200;
    line-height: 20px;
    background-color: #eee;
    border-radius: 6px;
    padding: 6px;
}

.full-unit {
    margin: 2px auto 0 auto;
    width: 95%;
    font-size: 18px;
    font-weight: 200;
    line-height: 20px;
    background-color: #eee;
    border-radius: 6px;
    padding: 6px;
}

a {
    color: #333;
    /*text-decoration: none;*/
}

a:hover {
    text-decoration: underline;
}
